* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*applying style to the body*/
body {
    background-color: #d9dcd6;
}

/*applying style to the header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*applying style to h1*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*applying white color to li,a tags*/
a { 
    color: #ffffff;
    text-decoration: none;
}

/*applying style to'seo' h1 on header*/
header h1 .seo {
    color: #d9dcd6;
}

/*applying to nav tag inside the header*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*applying to the list inside ul*/
header nav ul li {
    display: inline-block;
    margin-left: 25px ;
}

/*applying style to the whole footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*applying font size to h2 in footer*/
footer h2 {
    font-size: 20px;
}

/*hero-section*/
.hero {
    height: 800px;
    width: 100%;
    background-image: url("../images/digital-marketing-meeting.jpg");
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/*float it to left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*float to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*apply style to content section*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*setting height to content section*/
.content img {
    max-height: 200px;
}

/*setting style to h2 content section*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*styling style to div*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #fff;
}


/*styling style to div*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #fff;
}


/*styling style to div*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #fff;
}

/*apply style to section benefit*/
.benefits {
    margin: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: white;
}

.benefit-brand {
    margin-bottom: 32px;
    color: white;
}

.benefit-cost {
    margin-bottom: 32px;
    color: white;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


